:not(:root):fullscreen::backdrop {
	background-color: #1e2327;
}

.page {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	user-select: none;
	background-color: #1e2327;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}

.header {
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1e2327, #676c71, #1e2327);
}

.header__title {
	margin: 0 auto;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 60px;
	font-weight: 300;
	color: #fff;
}

.content {
	box-sizing: border-box;
	min-height: calc(100vh - 110px);
	padding: 60px 10px 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	/* max-width: 1140px; */
	margin: 0 auto;
}

.button-container {
	display: flex;
	justify-content: space-between;
	width: 306px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.button {
	width: 150px;
	height: 40px;
	padding: 0 10px;
	background-color: #454c53;
	border: 0;
	border-radius: 2px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	outline: 0;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover {
	background-color: #515961;
}

.button_active {
	background-color: #bb3462;
}

.button_active:hover {
	background-color: #e91e63;
}

.piano {
	display: flex;
	width: 100%;
	height: 270px;
	max-width: 1600px;
	margin: 0 auto 60px;
}

.piano__octave {
	display: flex;
}

.piano__keys {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.piano__key {
	box-sizing: border-box;
	position: relative;
	width: 30px;
	height: 270px;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #1e2327;
	outline: none;
	border-radius: 0px 0px 8px 8px;
	transition: 0.3s;
	cursor: pointer;
  box-shadow: 0px -5px 2px 2px rgba(112, 112, 112, 0.7) inset;
}

.piano__key:hover {
	background-color: #fff;
}

.piano__keys-sharp {
	position: absolute;
	left: 18px;
	right: 18px;
	top: 0;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}

.piano__key_sharp {
	width: 24px;
	height: 170px;
	background: linear-gradient(to top, #676c71, #1e2327);
	border: 0;
	border-radius: 0px 0px 6px 6px;
	top: 0;
	z-index: 3;
	pointer-events: auto;
	transform-origin: center top;
  box-shadow: 0px -8px 2px 5px rgba(0, 0, 0, 0.7) inset;
}

.piano__key_sharp:hover {
	filter: brightness(150%);
}

.piano__key_active {
	transform: scale(0.96);
}

.piano__note {
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 26px;
	height: 40px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #676c71;
	user-select: none;
	pointer-events: none;
	transition: all .3s linear;
}

.piano__key:hover .piano__note {
	color: #d7dfe6;
}

.piano__note_sharp {
	top: -45px;
}

.piano__note_active {
	color: #e91e63;
}

.piano__key:hover .piano__note_active {
	color: #e91e63;
}

.fullscreen {
	position: fixed;
	top: 120px;
	right: 40px;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 0;
	outline: 0;
	background-size: contain;
	transition: 0.3s;
	opacity: .8;
	cursor: pointer;
	background-image: url("../assets/svg/fullscreen-open.svg");
}

.fullscreen:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

:-webkit-full-screen .fullscreen {
	background-image: url("../assets/svg/fullscreen-exit.svg");
}

.footer {
	border-top: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1e2327, #676c71, #1e2327);
}

.footer__container {
	box-sizing: border-box;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.footer__link {
	position: relative;
	display: block;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

.footer__link:hover {
	outline: 0;
	color: #e91e63;
	text-decoration: underline;
}

.footer__link:focus {
	outline: 0;
}

.footer__link_type_github {
	box-sizing: border-box;
	height: 45px;
	padding-left: 30px;
	background-image: url("../assets/svg/github.svg");
	background-size: 25px;
	line-height: 45px;
	color: #cbd5de;
	font-size: 16px;
	transition: 0.3s;
}
