:not(:root):fullscreen::backdrop {
	background-color: #1e2327;
}

.page {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	user-select: none;
	background-color: #1e2327;
	overflow-x: hidden;
}

.header {
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1e2327, #676c71, #1e2327);
}

.header__title {
	margin: 0 auto;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 60px;
	font-weight: 300;
	color: #e3e3e3;
}

.content {
	box-sizing: border-box;
	min-height: calc(100vh - 110px);
	padding: 60px 10px 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.button-container {
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.button {
	display: block;
	width: 100px;
	height: 40px;
	padding: 0 10px;
	background-color: #454c53;
	border: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	outline: 0;
	cursor: pointer;
	transition: 0.3s;
}

.button_type_letters {
	border-radius: 0 20px 20px 0;
}

.button_type_notes {
	border-radius: 20px 0 0 20px;
}

.button:hover {
	background-color: #515961;
}

.button_active {
	background-color: #bb3462;
}

.button_active:hover {
	background-color: #e91e63;
}

.button_type_toggle-recorder {
	width: 80px;
	height: 30px;
	margin: 0 auto 10px;
	color: #676c71;
	background-color: transparent;	
}

.button_type_toggle-recorder:hover {
	color: #e91e63;
	background-color: transparent;	
}

.controls {
	display: flex;
	margin: 0 auto 20px;
	max-width: 160px;
}

.cntrls-button {
	width: 40px;
	height: 40px;
	background-color: #393e44;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	border: 0;
	outline: none;
	opacity: .8;
	transition: .3s;
}

.cntrls-button_type_reset {
	border-radius: 50% 0 0 50%;
	background-image: url(../assets/svg/icon-reset.svg);
}

.cntrls-button_type_play {
	background-image: url(../assets/svg/icon-play.svg);
	background-size: 35px;
}

.cntrls-button_type_stop {
	background-image: url(../assets/svg/icon-stop.svg);
	background-size: 40px;
}

.cntrls-button_type_backspace {
	border-radius: 0 50% 50% 0;
	background-image: url(../assets/svg/icon-backspace.svg);
}

.cntrls-button:hover {
	cursor: pointer;
	background-color: #bb3462;
}

.piano {
	display: flex;
	width: 100%;
	height: 270px;
	max-width: 1560px;
	margin: 0 auto 80px;
}

.piano__octave {
	display: flex;
}

.piano__keys {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.piano__key {
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 30px;
	height: 270px;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #1e2327;
	outline: none;
	border-radius: 0px 0px 8px 8px;
	transition: 0.3s;
	cursor: pointer;
  box-shadow: 0px -5px 2px 2px rgba(112, 112, 112, 0.7) inset;
}

.piano__key:hover {
	background-color: #fff;
}

.piano__keys-sharp {
	position: absolute;
	left: 18px;
	right: 18px;
	top: 0;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}

.piano__key_sharp {
	width: 24px;
	height: 185px;
	background: linear-gradient(to top, #676c71, #1e2327);
	border: 0;
	border-radius: 0px 0px 6px 6px;
	top: 0;
	z-index: 3;
	pointer-events: auto;
	transform-origin: center top;
  box-shadow: 0px -8px 2px 5px rgba(0, 0, 0, 0.7) inset;
}

.piano__key_active {
	transform: scaleY(.96);
}

.piano__key_sharp:hover {
	background: linear-gradient(to top, #676c71, #343438);
}

.piano__note {
	position: absolute;
	bottom: -45px;
	left: 0;
	width: 28px;
	height: 40px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #676c71;
	user-select: none;
	pointer-events: none;
	transition: all .3s linear;
}

.piano__key:hover .piano__note {
	color: #d7dfe6;
}

.piano__note_sharp {
	top: -45px;
}

.piano__note_active {
	color: #e91e63;
}

.piano__key:hover .piano__note_active {
	color: #e91e63;
}

.recorder-section {
	pointer-events: all;
	opacity: 1;
	visibility: visible;
	transition: .3s;
}

.recorder-section_hidden {
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.recorder-section__wrapper {
	position: relative;
	max-width: 1560px;
	width: 100%;
	margin: 0 auto;
}

.notes-recorder {
	max-height: 200px;
	height: 200px;
	overflow-y: auto;
}

.notes-recorder__notes {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #676c71;
}

.hide-scroll {
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 200px;
	background-color: #1e2327;
}

.fullscreen {
	position: fixed;
	top: 120px;
	right: 40px;
	width: 40px;
	height: 40px;
	background-color: #454c53;
	border: 0;
	outline: 0;
	background-size: 36px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .7;
	transition: 0.3s;
	cursor: pointer;
	background-image: url("../assets/svg/fullscreen-open.svg");
}

.fullscreen:hover {
	opacity: 1;
}

:-webkit-full-screen .fullscreen {
	background-image: url("../assets/svg/fullscreen-exit.svg");
}

.footer {
	border-top: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #1e2327, #676c71, #1e2327);
}

.footer__container {
	box-sizing: border-box;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.footer__link {
	position: relative;
	display: block;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

.footer__link:hover {
	outline: 0;
	color: #e91e63;
	text-decoration: underline;
}

.footer__link:focus {
	outline: 0;
}

.footer__link_type_github {
	box-sizing: border-box;
	height: 45px;
	padding-left: 30px;
	background-image: url("../assets/svg/github.svg");
	background-size: 25px;
	line-height: 45px;
	color: #cbd5de;
	font-size: 16px;
	opacity: .5;
	transition: .3s;
}
